html {
  font-family: "Noto Sans JP", sans-serif;
  scroll-behavior: smooth;
}

.pop {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 70rem;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header {
  padding: 1.6875rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.logo span {
  color: #80b44a;
}

.header-menu li {
  margin-right: 2.5rem;
}

.header-menu li a {
  transition: 0.3s;
}

.header-menu li a:hover {
  color: #80b44a;
  transition: 0.3s;
}

/* main */

.hero {
  background: url(images/image_1.jpg);
  background-position: center;
  background-size: cover;
  height: 33.75rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 5.625rem;
  overflow: hidden;
}

.hero::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  position: absolute;
  z-index: 1;
}

.hero-inner {
  z-index: 2;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.hero-inner p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 2.25rem;
}

.hero-inner h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1.875rem;
}

/* concept */

#concept {
  margin-bottom: 7.5rem;
}

.title {
  color: #80b44a;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.67em;
}

#concept h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1.67em;
}

.column-2 {
  width: 48%;
}

.text {
  line-height: 2;
}

.concept-img {
  background-image: url(images/image_2.jpg);
  background-position: center;
  background-size: cover;
  height: 21.25rem;
  border-radius: 20px;
}

/* service */

.heading {
  font-family: "Dancing Script", cursive;
  font-size: 200px;
  font-weight: 700;
  color: rgb(128, 180, 74, 0.1);
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-30%);
}

.heading-business {
  top: 0;
  right: 0;
  transform: translateY(-30%);
  z-index: -1;
}

.heading-recipe {
  top: 0;
  left: 0;
  transform: translateY(-30%);
  z-index: -1;
}

.heading-event {
  top: 0;
  right: 0;
  transform: translateY(-30%);
  z-index: -1;
}

#service {
  margin-bottom: 9.375rem;
}

.service-inner {
  margin-bottom: 5.75rem;
  position: relative;
}

img {
  width: 100%;
  border-radius: 20px;
}

.column-40 {
  width: 40%;
}

.column-55 {
  width: 55%;
}

#service h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1em;
}

#service :nth-child(3) {
  flex-direction: row-reverse;
}

/* company detail */

#company {
  margin-bottom: 7.5rem;
}

#company dl {
  max-width: 56.25rem;
  margin-left: auto;
}

#company dt {
  width: 30%;
  padding: 48px 0;
  font-weight: 500;
  border-bottom: solid 1px #d2ecba;
}

#company dd {
  width: 70%;
  padding: 48px 0;
  border-bottom: solid 1px #d2ecba;
}

/* bottom */

.column-a {
  background-image: url(images/image_6.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 16.875rem;
  border-radius: 20px;
}

.column-b {
  background-image: url(images/image_7.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 16.875rem;
  border-radius: 20px;
}

.column-c {
  background-image: url(images/image_8.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 16.875rem;
  border-radius: 20px;
}

.column-d {
  background-image: url(images/image_9.jpg);
  background-position: center;
  background-size: cover;
  width: 24%;
  height: 16.875rem;
  border-radius: 20px;
}

footer {
  text-align: center;
  margin: 5.625rem 0;
}

.copyright {
  font-size: 12px;
  margin-top: 2.5rem;
}

@media only screen and (max-width: 768px) {
  header .container {
    justify-content: center;
  }
  header {
    padding: 1.6875rem 0 0 0;
  }
  .header-menu li {
    margin: 1.25rem 1rem;
  }
  .hero {
    height: 28.75rem;
    margin-bottom: 3rem;
  }
  .hero-inner p {
    font-size: 15px;
  }
  .hero-inner h1 {
    font-size: 17px;
  }
  #concept {
    margin-bottom: 3rem;
  }
  #concept h2 {
    font-size: 24px;
    line-height: 1.5;
  }
  .column-2 {
    width: 100%;
  }
  .text {
    font-size: 15px;
    line-height: 1.7;
  }
  .concept-img {
    margin-top: 3rem;
  }
  .column-40 {
    width: 100%;
    margin-bottom: 2rem;
  }
  .column-55 {
    width: 100%;
  }
  #service h3 {
    font-size: 17px;
  }
  #company dl {
    font-size: 13px;
  }
  .column-a,
  .column-b,
  .column-c,
  .column-d {
    width: 48%;
    height: 8.75rem;
    margin: 1%;
  }
  .heading {
    font-size: 0;
  }
  #company {
    margin-bottom: 5rem;
  }
  #service {
    margin-bottom: 4.25rem;
  }
  .service-inner {
    margin-bottom: 3rem;
  }
}
